@font-face {
    font-family: 'DMSans-Bold';
    src: url("../fonts/DMSans-Bold.ttf");
}

@font-face {
    font-family: 'DMSans-BoldItalic';
    src: url("../fonts/DMSans-BoldItalic.ttf");
}

@font-face {
    font-family: 'DMSans-Italic';
    src: url("../fonts/DMSans-Italic.ttf");
}

@font-face {
    font-family: 'DMSans-Medium';
    src: url("../fonts/DMSans-Medium.ttf");
}

@font-face {
    font-family: 'DMSans-MediumItalic';
    src: url("../fonts/DMSans-MediumItalic.ttf");
}

@font-face {
    font-family: 'TruenoRound';
    src: url("../fonts/TruenoRound.otf");
}

.container-fluid,.row{
    --bs-gutter-x: unset;
}

.landing-main{
    background: url("../images/1bg.webp") no-repeat;
    background-size: cover;

    height: 100vh;
    max-width: 520px;
    margin: auto;
}

.hs-lan-horse{
    height: 55vh;
}

.fs-lan-title{
    font-family: 'DMSans-Bold', serif;
    color: #007549;
}

.fs-lan-caption{
    font-family: 'DMSans-Bold', serif;
    color: #01a862;
}

.fs-lan-primary-btn{
    font-family: 'DMSans-Medium', serif;
    background-color: #007549;
    border: 1px solid #007549;
    padding: 10px 15px 10px 15px;
    font-size: calc(0.7rem + 1vw);
    border-radius: 15px;
}

.fs-lan-primary-btn:hover,.fs-lan-primary-btn:focus-visible,.fs-lan-primary-btn:active{
    font-family: 'DMSans-Medium', serif;
    background-color: #007549 !important;
    border: 1px solid #007549 !important;
}

.fs-lan-outline-primary-btn{
    font-family: 'DMSans-Medium', serif;
    background-color: rgba(248, 248, 248, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    color: #007549;
    padding: 10px 15px 10px 15px;
    font-size: calc(0.7rem + 1vw);
    border-radius: 15px;
}

.fs-lan-outline-primary-btn:hover,.fs-lan-outline-primary-btn:active.fs-lan-outline-primary-btn:focus-visible{
    font-family: 'DMSans-Medium', serif;
    background-color: #00754900 !important;
    border: 1px solid #00754900 !important;
    color: #01a862;
}

h1{
    font-size: calc(1.8rem + 1.5vw);
}

.login-main{
    background-color: #f8f8f8;
    height: 100vh;
    max-width: 520px;
    margin: auto;
}

.job-post-main{
    background-color: #f8f8f8;
    height: 115vh;
    max-width: 520px;
    margin: auto;
}

.signup-main{
    background-color: #f8f8f8;
    height: 150vh;
    max-width: 520px;
    margin: auto;
}

.login-interface{
    padding: 3rem;
}

.fs-form-control{
    font-family: 'DMSans-Medium', serif;
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 18px 15px;
    border: 1px solid #c5d7cf;
}

.fs-form-control::placeholder{
    font-family: 'DMSans-Medium', serif;
    color: #b9b9b9;
}

.fs-registration-control{
    font-family: 'DMSans-Medium', serif;
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 0 0;
    border: 1px solid #c5d7cf;
}

.fs-registration-control::placeholder{
    font-family: 'DMSans-Medium', serif;
    text-align: center;
    color: #b9b9b9;
}

.fs-select-control{
    font-family: 'DMSans-Medium', serif;
    background-color: #f8f8f8;
    color: #01a862;
    font-weight: bold;
    border-radius: 15px;
    padding: 18px 15px;
    font-size: 12px;
    border: 1px solid #c5d7cf;
}

.fs-select-control::placeholder{
    font-family: 'DMSans-Medium', serif;
    color: #b9b9b9;
}

.fs-login-horizonal-line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.fs-login-horizonal-line span {
    font-family: 'DMSans-Medium', serif;
    background:#f8f8f8;
    padding:0 10px;
}

.fs-secondary-btn{
    font-family: 'DMSans-Medium', serif;
    background-color: #01a862;
    border: 1px solid #01a862;
    padding: 10px 15px 10px 15px;
    font-size: calc(0.7rem + 1vw);
    border-radius: 15px;
}

.fs-secondary-btn:hover,.fs-secondary-btn:active,.fs-secondary-btn:focus-visible{
    font-family: 'DMSans-Medium', serif;
    background-color: #01a862 !important;
    border: 1px solid #01a862 !important;
    padding: 10px 15px 10px 15px;
    font-size: calc(0.7rem + 1vw);
    border-radius: 15px;
}

.fs-url{
    font-family: 'DMSans-Bold', serif;
    color: #01a862;
}

.fs-url-un{
    font-family: 'DMSans-Bold', serif;
    color: #01a862;
    border-bottom: 1px solid #01a862;
}

.fs-verification-1{
    background: url("../images/4bg.webp") no-repeat;
    background-size: cover;

    height: 100vh;
    max-width: 520px;
    margin: auto;
}

.fs-verification-2{
    background: url("../images/5bg.webp") no-repeat;
    background-size: cover;

    height: 100vh;
    max-width: 520px;
    margin: auto;
}

.fs-mobile{
    height: 200px;
}

.expertise-main{
    background: url("../images/7bg.webp") no-repeat;
    background-size: cover;

    height: 120vh;
    max-width: 520px;
    margin: auto;
}

.expertise-interface{
    padding: 1rem;
}

.fs-expertise-check-btn{
    font-family: 'DMSans-Medium', serif;
    background: #fff;
    color: #01a862;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -webkit-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -moz-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
}

.fs-expertise-check-btn-check{
    font-family: 'DMSans-Medium', serif;
    background: #1e3932;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -webkit-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -moz-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
}

.fs-expertise-check-btn i{
    color: #efefef;
    font-size: 23px;
}

.fs-expertise-check-btn-check i{
    color: #01a862;
    background: white;
    border-radius: 50%;
    font-size: 23px;
}

.fs-arrow-btn {
    font-family: 'DMSans-Medium', serif;
    background-color: #007549;
    border: 1px solid #007549;
    padding: 10px 40px 10px 18px;
    font-size: calc(0.7rem + 1vw);
    border-radius: 15px;
    text-align: left;
    position: relative;
}

.fs-arrow-btn:hover {
    font-family: 'DMSans-Medium', serif;
    background-color: #007549;
    border: 1px solid #007549;
    padding: 10px 40px 10px 18px;
    font-size: calc(0.7rem + 1vw);
    border-radius: 15px;
    text-align: left;
    position: relative;
}

.arrow-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.btn-text {
    margin-right: 18px;
}

.fs-primary-color{
    color: #01a862;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 25px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #007549;
}

.skills-main{
    background: url("../images/7bg.webp") no-repeat;
    background-size: cover;

    height: 110vh;
    max-width: 520px;
    margin: auto;
}

.fs-skills-btn {
    font-family: 'DMSans-Medium', serif;
    background-color: #1e3932;
    border: 1px solid #1e3932;
    padding: 15px 40px 15px 18px;
    font-size: calc(0.7rem + 1vw);
    border-radius: 15px;
    text-align: left;
    position: relative;
}

.fs-skills-btn:hover {
    font-family: 'DMSans-Medium', serif;
    background-color: #1e3932;
    border: 1px solid #1e3932;
    padding: 15px 40px 15px 18px;
    font-size: calc(0.7rem + 1vw);
    border-radius: 15px;
    text-align: left;
    position: relative;
}

.fs-skills-next-btn{
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #01a862;
    box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -webkit-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -moz-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
}

.registration-main{
    background: url("../images/9bg.webp") no-repeat;
    background-size: cover;

    height: 105vh;
    max-width: 520px;
    margin: auto;
}

.fs-user-panel{
    height: 150px;
    width: 150px;
    margin: auto;
    background: white;
    border-radius: 25px;
    color: #01a862;
    box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -webkit-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -moz-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
}

.fs-user-panel .fa-user{
    font-size: 80px;
}

.fs-registration-label{
    font-family: 'DMSans-Medium', serif;
    font-weight: bold;
    color: #007549;
}

.fs-sms-verification{
    background: url("../images/11/11bg.webp") no-repeat;
    background-size: cover;

    height: 100vh;
    max-width: 520px;
    margin: auto;
}

.fs-next-button{
    background: #d6d6d6;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    color: #acacac;
}

.fs-bottom-primary{
    background: #01a862;
    border: 1px solid #01a862;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'DMSans-Medium', serif;
    font-size: 15px;
}

.fs-bottom-primary:hover{
    background: #01a862;
    border: 1px solid #01a862;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'DMSans-Medium', serif;
    font-size: 15px;
}

.fs-bottom-secondary{
    background: #d6d6d6;
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    color: #acacac;
    font-family: 'DMSans-Medium', serif;
    font-size: 15px;
}

.fs-bottom-secondary:hover{
    background: #d6d6d6;
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    color: #acacac;
    font-family: 'DMSans-Medium', serif;
    font-size: 15px;
}

.alert-dismissible {
    padding-right: 1rem;
}

.fs-dashboard-alert{
    background: url(../images/11/11a.webp) no-repeat;
    background-size: cover;
    border-radius: 30px;
    border: none;
}

.fs-btn-resend{
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #01a862;
    box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -webkit-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -moz-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    font-family: 'DMSans-Medium', serif;
    font-size: 12px;
}

.fs-btn-resend:hover{
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #01a862;
    box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -webkit-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    -moz-box-shadow: 0 3px 5px 0 rgba(5, 132, 87, 0.23);
    font-family: 'DMSans-Medium', serif;
    font-size: 12px;
}

.fs-dashboard-earn-btn-text{
    margin-top: 0.5rem;
    font-size: 12px;
    text-align: center;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        width: 100%;
        overflow: hidden;
        -webkit-appearance: none;
        background-color: #818181;
        border: none;
        border-radius: 5px;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 8px;
        -webkit-appearance: none;
        color: #01a862;
        margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 100px;
        -webkit-appearance: none;
        height: 8px;
        cursor: ew-resize;
        background: #01a862;
        box-shadow: -200px 0 0 200px #01a862;
    }

}

.fs-fixed-bottom{
    max-width: 520px;
    margin: auto;
    align-items: center;
    bottom: 20px;
}

.fs-nav-fixed-bottom{
    max-width: 520px;
    margin: auto;
    background: white;
    box-shadow: 0 -3px 5px 0 rgba(5, 132, 87, 0.23);
    padding-top: 25px;
    padding-bottom: 5px;
}

.fs-plus-circle{
    background: #01a862;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: -50px auto auto;
}

.fs-letter{
    background: #01a862;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: auto;
}

.fs-transaction-card{
    background: white;
    border-radius: 35px;
    padding: 1rem;
    box-shadow: 0 -3px 5px 0 rgba(5, 132, 87, 0.23);
}

.fs-dashboard-total{
    font-family: 'DMSans-Medium', serif;
    color: #01a862;
}

.fs-dashboard-title{
    font-family: 'DMSans-Medium', serif;
    color: #01a862;
}

.fs-dashboard-title span{
    font-family: 'DMSans-Medium', serif;
    color: #007549;
}

.fs-dashboard-custom{
    font-family: 'DMSans-Medium', serif;
    color: #01a862;
}

.fs-dashboard-money{
    background: url(../images/11/1.webp) no-repeat;
    background-size: contain;
    padding: 10px;
}

.fs-dashboard-money p{
    font-family: 'DMSans-Medium', serif;
    color: #007549;
}

.fs-dashboard-silver{
    font-family: 'DMSans-Medium', serif;
    color: white;
    background: #1e3932;
}

.fs-dashboard-dark{
    background: #007549;
}

.fs-transaction-card p{
    color: #01a862;
}

.fs-transaction-card h5{
    color: #007549;
}

.head-banner {
    background-color: #1e3932;
}

.page-13{
    background-image: url("../images/13/13bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.heading-banner{
    border: 5px solid #1e3932;
    border-radius: 10px;
}

.icons{
    height: 60px;
}

.icon-text{
    font-size: 8px;
    color: #007549;
    font-family: DMSans-Medium,sans-serif;
}

.card-text{
    margin-bottom: 0;
}

.card-title{
    font-family: 'DMSans-Bold', serif;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
    color: #1e3932;
}

.text-muted{
    color: #01a862 !important;
    font-family: DMSans-Medium, sans-serif;
    font-size: 12px;
}

.price{
    font-size: 20px;
    font-weight: bold;
    color: #007549;
}

.card{
    border-radius: 20px;
    overflow: hidden;
}

.price-button{
    background: #01a862;
    padding: 5px 41px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-left: 80px;
    color: #ffffff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #007549;
    background-color: #fff0;
    border-color: #007549;
}

.nav-link{
    color: #dddddd;
}

.card-sub-heading{
    font-family: DMSans-Medium, sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.card-heading{
    font-family: DMSans-Bold, sans-serif;
    font-size: 20px;
    color: #ffffff;
}
